.custom-hero h1 {
    font-size: 1.2rem;  /* slightly smaller main title */
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0;
    text-transform: uppercase;
}

.custom-hero h2 {
    font-size: 0.9rem;   /* slightly smaller subheading */
    font-weight: 300;
    color: #333;
    margin-top: 5px;
}
